{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
<div class="pt-3 text-center">
    <br>
        <h1>Accueil</h1>
    <br>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        BIENVENU <br><span style="font-size: 3em; color: green;">{{ app.user.email }} !</span>
    {% else %}
    <p>Bonjour, merci de vous connecter pour profiter de toutes les incroyables fonctionnalités de ce site !</p>
    {% endif %}
    </div>
{% endblock %}